* {
    box-sizing: border-box;
}

body,
section,
header,
div,
p,
h1,
h2,
h3,
ul,
li,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    background-color: #f0f4f8;
    font-weight: 300;
}

/* add styles here */

header {
    background-image: url(images/florence.jpg);
    background-size: cover;
    width: 100%;
    min-height: 500px;
}

#topbar {
    --logo-size: 60px;
    --logo-offset: 5px;
    position: relative;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: var(--logo-size);
    background-position: var(--logo-offset) var(--logo-offset); /*right offset, down offset*/
    padding: calc(var(--logo-offset) + 10px) 0px 0px 100px;
    height: calc(var(--logo-size) + var(--logo-offset))
}

#topbar li {
    list-style-type: none;
    display: inline-block;
    text-align: right;
    padding: 10px;
}

nav ul a {
    text-decoration: none;
    color: #51279b;
    font-weight: 600;
    padding: 10px;
}

header > div > p {
    font-weight: 600;
}

header div a {
    background-color: #51279b;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}

header a:hover {
    color: #8662c7;
}

nav ul a:visited {
    color: #51279b;
}

nav ul a:hover {
    color: #8662c7;
}

header a:link a:visited {
    color: #51279b;
}

header div {
    margin-left: 125px;
    margin-top: 125px;
    color: #ffffff;
}

div h2 {
    font-size: 48px;
    padding-bottom: 20px;
}

div p {
    color: #ffffff;
    font-size: 24px;
    padding-bottom: 25px;
}

main {
    margin: 20px 20px 10px 20px;
}

section div {
    text-align: left;
}

section.card img {
    width: 415px;
    height: auto;
}

section.card div h3 {
    font-size: 14px;
    padding-left: 5px;
    padding-bottom: 3px;
    font-weight: 600;
}

section.card {
    display: inline-block;
    padding-bottom: 0px;
    background-color: #ffffff;
}

section.card div p.description {
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 10px;
    color: black;
}

section.card div p.social {
    font-size: 10px;
    padding-left: 5px;
    color: black;
}

section.card div p span.heart {
    --bg-l-pad: 6px;
    background-image: url(images/heart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: var(--bg-l-pad);
    padding-left: calc(var(--bg-l-pad) + 19px);
    padding-right: 10px;
}

section.card div p span.comment {
    background-image: url(images/comment.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 19px;
}
